.dialog-right-transition-enter,
.dialog-right-transition-leave-to

    transform: translateX(100%)

.dialog-left-transition-enter,
.dialog-left-transition-leave-to

    transform: translateX(-100%)

.dialog-top-transition-enter,
.dialog-top-transition-leave-to

    transform: translateY(-100%)

.text--sm

    font-size: 10px!important

.text--xs

    font-size: 8px!important

.application

    .section

        flex: 1 1 100%

        width: 100%
        max-width: 1300px

        margin: auto
        padding: 0

        &.fill-height

            display: flex
            align-items: center
