.application

    .image

        display: inline-block
        position: relative

        border-style: medium none
        box-sizing: border-box

        &_responsive

            max-width: 100%
            height: auto

            vertical-align: middle

    .image-responsive,
    .img-responsive

        display: inline-block
        position: relative

        border-style: medium none
        box-sizing: border-box

        max-width: 100%
        height: auto

        vertical-align: middle
