.application

    .no-decoration

        text-decoration: none

    .no-transform

        text-transform: none

    .lowercase

        text-transform: lowercase

    .uppercase

        text-transform: uppercase

    .text--xs

        font-size: 8px!important
