.application

    .leaflet-container

        font: inherit

    .leaflet-touch

        .leaflet-control-layers,
        .leaflet-bar

            border: medium none
            background-clip: padding-box

    .leaflet-marker-icon

        outline: none

    .leaflet-popup-content-wrapper

        border-radius: 2px
