.application

    .leaflet-bar

        color: #000

    .leaflet-right .leaflet-control

        margin-right: 24px


    .leaflet-top .leaflet-control

        margin-top: 24px

    .leaflet-routing-container,
    .leaflet-routing-error

        padding-top: 0

    .leaflet-routing-alt

        table

            tr

                padding: 16px
