.application

    .snotifyToast

        border-radius: 0

        &__progressBar

            height: 4px

            &__percentage

                height: 4px

        &__title,
        &__body

            text-align: left

        &.snotify-simple

            border: 1px solid alpha(#000, .2)
            box-sizing: border-box

            .snotifyToast

                &__inner

                    padding-right: 15px
