@import 'extensions/*'
@import 'overrides/*'
@import 'helpers/*'

.document

    // overflow-y: auto
    overflow: auto

    // .page

    // min-width: 1300px
    //
    // @media screen and (min-width: 1300px)
    //
    //     overflow-x: auto

    // .page
    //
    //     -moz-osx-font-smoothing: grayscale
    //     -ms-text-size-adjust: 100%
    //     -webkit-text-size-adjust: 100%
    //
    //     -webkit-font-smoothing: antialiased
    //     font-smoothing: antialiased
